# Common
NODE_ENV='development'
COOKIE_DOMAIN='127.0.0.1'
FRONTEND_URL='http://127.0.0.1:5173'

# JWT
# JWT
JWT_SECRET='123'
JWT_ACCESS_TOKEN_TTL='2h'
JWT_REFRESH_TOKEN_TTL='7d'

# Database
POSTGRES_USER='root'
POSTGRES_PASSWORD='123456'
POSTGRES_HOST='localhost'
POSTGRES_PORT=5433
POSTGRES_DB='nestjs-test'

POSTGRES_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
# Mail
MAIL_HOST='smtp.gmail.com'
MAIL_PORT=465
MAIL_USER="johndoe@gmail.com"
MAIL_PASSWORD="1234 1234 1234 1234"

#OAUTH2.0
GOOGLE_CLIENT_ID='123'
GOOGLE_CLIENT_SECRET='12345'
GOOGLE_CALLBACK_URL='http://localhost:3000/auth/google/callback'